{% extends "GSAdminBundle::layout.html.twig" %}

{% block gs_body %}
    {{ parent() }}

    <h2>Verifier si des gens sont membres</h2>

    {{ include("GSAdminBundle:Check:form.html.twig") }}

{% endblock %}
