{% extends "GSApiBundle::layout.html.twig" %}

{% block gs_body %}
    {{ parent() }}

    <h2>Liste des activités</h2>

    {% import "GSApiBundle:Activity:macros.html.twig" as macro %}
    <ul>
        {% for activity in listActivities %}
            <li>
                <a href="{{ path('view_activity', {'id': activity.id}) }}">
                    {{ macro.print_title(activity) }}
                </a>
            </li>
        {% else %}
            <li>Pas (encore !) d'activités</li>
        {% endfor %}
    </ul>

{% endblock %}
