{% extends "GSApiBundle::layout.html.twig" %}

{% block gs_body %}
    {{ parent() }}

    <h2>Editer une catégorie</h2>

    {{ include("GSApiBundle:Category:form.html.twig") }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('.js-select-multiple').select2();
    </script>
{% endblock %}
