{% extends "GSApiBundle::layout.html.twig" %}

{% block gs_body %}
    {{ parent() }}

    <h2>Ajouter un justificatif</h2>

    {{ include("GSApiBundle:Certificate:form.html.twig") }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });

            $('.js-select-single').select2();
        });
    </script>

{% endblock %}
