{% extends "GSAdminBundle::layout.html.twig" %}

{% block gs_body %}
    {{ parent() }}

    <h2>Ajouter une inscription</h2>

    {{ include("GSAdminBundle:Registration:form.html.twig") }}

{% endblock %}
